<div class="container">
	<div class="page-header">
	  <h2>And you, what is in your mind?<br><small>Go and share with others.</small></h2>
	</div><!-- .page-header -->
</div><!-- .container -->

<div class="container center">
	Click on the globe to be redirect on the blogger website.<a href="http://maries-mind.blogspot.com/" class="btn glyphicon glyphicon-globe" target="_blank" role="button" style="font-size:5.2em;" aria-hidden="true"></a>
</div><!-- .container -->