<div class="container">
	<div class="page-header">
	  <h2>And you, what is in your mind?<br><small>The mind: a univers to be discovered.</small></h2>
	</div><!-- .page-header -->
</div><!-- .container -->

<div class="container">
	<button class="btn btn-primary">
		<span class="glyphicon glyphicon-eye-open" style="font-size:5.2em;" aria-hidden="true"></span>
	</button>
</div><!-- .container -->