<div class="container">
	<div class="page-header">
	  <h2>Words<br><small>Share and develop some imformation on it.</small></h2>
	</div><!-- .page-header -->

	<p><a href="http://maries-mind.blogspot.com/" target="_blank"><%= image_tag("earth.png", :alt => "The earth", :class => "center-block img-thumbnail img-responsive") %></a></p>

	<div class="panel panel-default panel-footer">
		<strong>Description:</strong></br>
		Here is some articles on the life in general, the success and the fundamentals principals.
	</div>

</div><!-- .container -->