<div class="container">
	<div class="page-header">
	  <h2>And you, what is in your mind?<br><small>The mind: a univers to be discovered.</small></h2>
	</div><!-- .page-header -->
</div><!-- .container -->

<div class="container center">
	<h2>Go and share with others</h2>
	<p><a href="http://maries-mind.blogspot.com/" class="btn btn-primary glyphicon glyphicon-globe" target="_blank" role="button" style="font-size:10.2em;" aria-hidden="true">Blogger</a></p>
</div><!-- .container -->