
	<h1>What is in your mind?</h1>
	The mind: a univers to be discovered.


				<h2>Rock n' Roll</h2>
				<%= image_tag("rollingstones.jpg", :alt => "rolling stones")  %>
				
				Everyone is focused on how to succeed, how to be optimal, how to be at your best... but at the end of it, only the path of happiness count. <br>
				Have fun! 
			

				<h2>Discover the world</h2>
				<%= image_tag("venise.jpg", :alt => "venise")  %>
			
				So much great places to see, visit, eat, learn, share joy.	Indeed, all country and cities who are reputed, but also the undiscover places under the sea: hidden caves. 			
				

				<h2>Creativity</h2>
				<%= image_tag("walt.jpg", :alt => "walt disney")  %>
				Put two worlds you know together. 
				<p><div class="horizontalline">

			

			This blog was made by <br>
			Marie-Lou Blanchard

			<h3>Follow Me</h3>
			<ul>
				<li><a href="https://twitter.com/elonmusk" target="_blank">Twitter</a></li>
				<li><a href="https://instagram.com/beyonce" target="_blank">Instagram</a></li>
			</ul>
			

			<h3>Quote of the Day</h3>

			<blockquote>"Failure is simply the opportunity to begin again, this time more intelligently."<br> 
			-Henry Ford</blockquote>

				Made by Marie-Lou Blanchard
				