<div class="container">
	<div class="widget">
		<h2>Contact</h2>
	</div><!-- .widget -->
		<p>This is where <i>Marie's Mind</i> website have been created.</p>
		
		<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Montreal, Canada.</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23561183.78217717!2d-82.06165972499993!3d43.874043144664014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2zTW9udHLDqWFsLCBRQw!5e0!3m2!1sfr!2sca!4v1437010494962" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div><!-- .container -->