
<div class="container">
	<div class="header">
		<h1>What is in your mind?</h1>
	</div>

	<div class="main">
		<%= render 'layouts/post' %>
	</div><!-- .main --> 

	<div class="jumbotron">	

			<%= image_tag("mariesmind.png", :alt => "Marie Blanchard", :class => "center-block img-circle img-responsive", :width => "150px") %>
			Made by <span style="color:#34495e;">Marie Blanchard</span>

		<ul>
			<li><a href="https://plus.google.com/u/0/106693329040910154911/posts" target="_blank">Google+</a></li>
			<li><a href="https://soundcloud.com/maries-mind" target="_blank">SoundCloud</a></li>
			<li><a href="http://maries-mind.blogspot.com/" target="_blank">Blogger</a></li>
		</ul>
			
	</div><!-- .jumbotron --> 

	</div><!-- .container -->

