<%= render 'layouts/jumbotron' %>

<div class="container">
	<div class="main">
		<%= render 'layouts/post' %>
	</div><!-- .main --> 

	<div class="sidebar">	

		<div class="widget">
			<%= image_tag("lou.png", :alt => "Marie-Lou Blanchard") %>
			<p>This blog was made by <span style="color:#34495e;">Marie-Lou Blanchard</span></p>
		</div><!-- .widget -->

		<div class="widget">
		<h3>Follow Me</h3>
		<ul>
			<li><a href="https://soundcloud.com/maries-mind" target="_blank">SoundCloud</a></li>
			<li><a href="http://maries-mind.blogspot.com/" target="_blank">Blogger</a></li>
			<li><a href="https://plus.google.com/u/0/106693329040910154911/posts" target="_blank">Google+</a></li>
		</div><!-- .widget -->
		
		<div class="widget">
			<h3>Quote of the Day</h3>
			<blockquote><p>"Failure is simply the opportunity to begin again, this time more intelligently."</p>- Henry Ford</blockquote>
		</div><!-- 	.widget -->

		</div><!-- .sidebar --> 

		<div class="clear"></div>
	</div><!-- .container -->

