<div class="container">
	<div class="page-header">
	  <h2>What is in your mind?<br><small>The mind: a univers to be discovered.</small></h2>
	</div><!-- .page-header -->
</div><!-- .container -->

<div class="container">
	<button class="btn btn-primary">
	<span class="glyphicon glyphicon-headphones" style="font-size:5.2em;" aria-hidden="true"></span>
</button>
<div class="panel panel-default">
	<div class="panel-header">
		<h3>Think about this:</h3>
	</div><!-- .panel-header -->
	
	<p>
	People don't want to know when successful people mess up.<br>

	People are only interesting by the success of others.<br>

	They wan to know why this guy is more richer, happier, stronger, charmer, better in multiple ways than themselves. They want some clues by seeing them, listen to them and watching them: what they eat, drink, see, drive, choose, etc.<br>

	The true is we want to be more often in a positive world, the one who we aspire. A big majority of the population is plugging on news and tv, and wondering about what the media says... Who cares? First, think about you!
	What is your dreams, your aspiration? Be selfish for a minute and take the time out to really target what you want. And when you finally find what you want, you get some motivation.<br>

	In these journey, this is what we want to bring you: the motivation fueled by you. This is some capsules with those topics:
	<ul>
		<li>Entrepreneurship</li>
		<li>Happiness</li>
		<li>Health</li>
		<li>Fitness</li>
		<li>Performance</li>
		<li>Discipline</li>
		<li>Passion</li>
		<li>And more</li>
	</ul>
	These will be discute and approach in a different way.

	Our goal: bu the process of the journey, teach you how to be your best motivator for yourself.
</p>
</div><!-- .panel-header -->


<div><!-- .container --> 