<div class="container">
	<div class="page-header">
	  <h2>Marie's Mind<br><small>The mind: a univers to be discovered.</small></h2>
	</div><!-- .page-header -->

<p><a href="https://s3.amazonaws.com/one-month-make-money/mariesmind-meaning.pdf" target="_blank"><%= image_tag("ny-blue-sky.png", :alt => "Blue sky of New York City", :class => "center-block img-thumbnail img-responsive") %></a></p>

<div class="panel panel-default panel-footer">
	<strong>Description:</strong></br>
	Marie's Mind is a website guide to help people to pursuit their biggest dream.<br>
	In this file, you will be able to see a structure/routine that you could eventually apply in your life to make it better and like you really want.
</div>

</div><!-- .container -->
