<div class="container">
	<div class="page-header">
	  <h2>What is in your mind?<br><small>The mind: a univers to be discovered.</small></h2>
	</div><!-- .page-header -->
</div><!-- .container -->

<div class="container">
	<button class="btn btn-primary">
	<span class="glyphicon glyphicon-headphones" style="font-size:5.2em;" aria-hidden="true"></span>
</button>

<p>
People don't want to know when successful people mess up and (good news)

People are interesting by the success of others.
</p>


<div><!-- .container --> 