<%= render 'layouts/pageheader' %>

<div class="container">
	<button class="btn btn-primary">
	<span class="glyphicon glyphicon-headphones" style="font-size:5.2em;" aria-hidden="true"></span>
</button>

<p>
People don't want to know when successful people mess up and (good news)

People are interesting by the success of others.
</p>


<div><!-- .container --> 