<div class="container">
	<div class="page-header">
	  <h2>Who's Marie?<br><small>The mind: a univers to be discovered.</small></h2>
	</div><!-- .page-header -->
</div><!-- .container -->

<div class="container">
	<h3>Purpose</h3>
		<p>Nowadays, there are severals things that make us blow our mind: advertising, the constant flow of information in all areas that we know, media, news, etc. It can be difficult to find ourselves and know what we want to do.</p> 

			<p>My purpose is to motivate and help people to pursuit their greatest dream.</p>

<div><!-- .container --> 