<%= render 'layouts/pageheader' %>

<div class="container">
	<h2>Who's Marie?</h2>
		<p>Focused on developing my full potential, I practice the violin, triathlon and meditation.</p>

	<h2>Our purpose</h2>
		<p>Help people to pursue their dreams while motivate them in their daily routine.</p>
<div><!-- .container --> 