<%= render 'layouts/pageheader' %>

<div class="container">
	<div class="jumbotron" style="padding:0px;">
		<%= image_tag("bologna.png", :alt => "bologna's city in italy") %>
		<p><span style="color:#34495e;">Mine </span>is right now in Bologna, Italia.</p>
  </div><!-- .jumbotron -->
</div><!-- .container -->