<div class="container">
	<div class="page-header">
	  <h1>What is in your mind?<br><small><h2>The mind: a univers to be discovered.</h2></small></h1>
	</div><!-- .page-header -->
</div><!-- .container -->