<div class="row">
  <div class=".col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="https://soundcloud.com/maries-mind/fun" target="_blank"><%= image_tag("rollingstones.jpg", :alt => "rolling stones") %></a>
      <div class="caption">
        <h4>Rock n' Roll</h4>
        <p>Everyone is focused on how to succeed, how to be optimal, how to be at your best, but at the end of it, only the path of happiness count...Have fun!</p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
<!-- ################################# 1 ################################## -->

  <div class=".col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="http://maries-mind.blogspot.ca/2015/07/dont-wish-it-were-easier-wish-you-were.html" target="_blank"><%= image_tag("venise.jpg", :alt => "venise, italia") %></a>
      <div class="caption">
        <h4>Discover the world</h4>
        <p>So much great places to see, visit, eat, learn, share joy.	Indeed, all country and cities who are reputed, but also the undiscover places under the sea: hidden caves.</p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
<!-- ################################# 2 ################################## -->

  <div class=".col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="https://soundcloud.com/maries-mind/feed-your-mind" target="_blank"><%= image_tag("walt.jpg", :alt => "walt disney") %></a>
      <div class="caption">
        <h4>Creativity</h4>
        <p>Put two worlds you know together.</p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->

<!-- ################################# 3 ################################## -->
  <div class=".col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="https://soundcloud.com/maries-mind/beauty" target="_blank"><%= image_tag("candiceswanepoel.png", :alt => "candice swanepoel") %></a>
      <div class="caption">
        <h4>Beauty</h4>
        <p>What is beauty for you?<br>You got to love yourself, take care of yourself, eat healty, go outside, train yourself... Be at your best.</p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
<!-- ################################# 4 ################################## -->

</div><!-- .row -->