<div class="row">
  <div class="col-sm-9 col-md-7">
    <div class="thumbnail">
      <%= image_tag("rollingstones.jpg", :alt => "rolling stones") %>
      <div class="caption">
        <h4>Rock n' Roll</h4>
        <p>Everyone is focused on how to succeed, how to be optimal, how to be at your best, but at the end of it, only the path of happiness count...Have fun!</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn more</a> <a href="#" class="btn btn-default" role="button">Comment</a></p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
</div><!-- .row -->
<!-- ################################# 1 ################################## -->

<div class="row">
  <div class="col-sm-9 col-md-7">
    <div class="thumbnail">
      <%= image_tag("venise.jpg", :alt => "venise, italia") %>
      <div class="caption">
        <h4>Discover the world</h4>
        <p>So much great places to see, visit, eat, learn, share joy.	Indeed, all country and cities who are reputed, but also the undiscover places under the sea: hidden caves.</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn more</a> <a href="#" class="btn btn-default" role="button">Comment</a></p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
</div><!-- .row -->
<!-- ################################# 2 ################################## -->

<div class="row">
  <div class="col-sm-9 col-md-7">
    <div class="thumbnail">
      <%= image_tag("walt.jpg", :alt => "walt disney") %>
      <div class="caption">
        <h4>Creativity</h4>
        <p>Put two worlds you know together.</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn more</a> <a href="#" class="btn btn-default" role="button">Comment</a></p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
</div><!-- .row -->
<!-- ################################# 3 ################################## -->

<div class="row">
  <div class="col-sm-9 col-md-7">
    <div class="thumbnail">
      <%= image_tag("candiceswanepoel.jpg", :alt => "candice swanepoel") %>
      <div class="caption">
        <h4>Beauty</h4>
        <p>What is beauty for you?<br>You got to love yourself, take care of yourself, eat healty, go outside, train yourself... Be at your best.</p>
        <p><a href="#" class="btn btn-primary" role="button">Learn more</a> <a href="#" class="btn btn-default" role="button">Comment</a></p>
      </div><!-- .caption -->
    </div><!-- .thumbnail -->
  </div><!-- .col-sm-6 col-md-4 -->
</div><!-- .row -->
<!-- ################################# 4 ################################## -->

