<div class="post">

	<h2>Rock n' Roll</h2>
		<%= image_tag("rollingstones.jpg", :alt => "rolling stones") %>
		<p>Everyone is focused on how to succeed, how to be optimal, how to be at your best, but at the end of it, only the path of happiness count...Have fun!</p> 

		<div class="post-meta">June 2015</div>

</div><!-- .post -->


<div class="post">

	<h2>Discover the world</h2>
		<%= image_tag("venise.jpg", :alt => "venise, italia") %>
		<p>So much great places to see, visit, eat, learn, share joy.	Indeed, all country and cities who are reputed, but also the undiscover places under the sea: hidden caves.</p>

		<div class="post-meta">June 2015</div>  

</div><!-- .post -->	
	

<div class="post">

	<h2>Creativity</h2>
		<%= image_tag("walt.jpg", :alt => "walt disney") %>
		<p>Put two worlds you know together.</p> 

		<div class="post-meta">June 2015</div> 

</div><!-- .post -->
